@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 15px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

nav-bar {
  display: none;
}

section {
  /*margin: 0 20px;*/
}

.column {
  /*HACK*/
  padding-left: 0px !important; 
  padding-right: 0px !important;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.pictureDetail {
  max-width: 425px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.card-container.au-enter {
  opacity: 0 !important;
}

.card-container.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #337ab7;
  color: rgb(136, 172, 217);
  margin-bottom: 32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.card .content {
  margin-top: 10px;
}

.card .content .name {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, .5);
  font-size: 18px;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  border-radius: 6px 6px 0 0;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px #FFF solid;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes barbeat {
  0% {
    height: 0%;
  }
  60% {
    height: 90%;
  }
}

@keyframes pulsate {
    50% {opacity: 1.0;}
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    opacity: 0;
    max-height: 0;
  }
  
  100% {
    opacity: 1;
    height: auto;
    max-height: 500px;
  }
}

.main-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
}

.h-scroller {
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  height: 100%;
  
}

.column-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 100%;
  width: 25%;
}

@media (max-width: 800px) {
  .column-container {
    width: 100%;
  }
}

.event-header-container {
  height: 57px;
  position: relative;
  line-height: 50px;
}

.location-header {
  
}

h1.location {
    font-family: 'Raleway', sans-serif;
    color: rgb(30,30,30);
    /*position: fixed;*/
    /*top: -20px;*/
    padding: 9px;
    animation: pulsate ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.5;
    margin: 0px;
    white-space: normal;
} 

.events-container {
  position: absolute;
  top: 57px;
  left: 0;
  bottom: 0;
  width: 100%;
}

.v-scroller {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  word-break: break-word;
  word-wrap: break-word;
}

.column {
  /*overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 25%;
  display: inline-block;*/
}

.event-container {
  /*position: relative;*/
}

.events-header {
  /*position: fixed;*/
  /*z-index: 100;*/
  
}


.event-container,
.event,
.event-attributes {
  height: 0;
  padding-bottom: 100%;
}

.no-cover {
  padding-bottom: 50%;
  /*background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 90%);*/
  background: rgba(0,0,0,0.4)
}

.event {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  animation: grow 2s;
  color: #FFF;
  text-shadow: 0 1px 0 black;
  background-size: cover !important;
  background-position: center !important;
}

.event:after {
  content: "";
  background-image: inherit;
  background-size: 67%;
}

.media {
  padding: 8px;
}

.event-metadata {
  height: 0;
  padding-bottom: 80%;
  overflow-y: scroll;
}

.event-attributes {
  position: absolute;
  width: 10px;
  height: 10px;
  padding-bottom: 0%;
  bottom: 0;
  /*animation-name: barbeat;*/
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /*transition: height ease-in-out;*/
}

.lastplayed {
  color: rgb(200,200,200);
}

.background {
  content: "";
  position: fixed;
  background-position: center; 
  left: 0mm;
  right: 0;
  z-index: -1;
  
  display: block;
  background-image: inherit;
  background-size: cover;
  width: 100%;
  height: 100%;
  
  -webkit-filter: blur(10px);
  -moz-filter: blur(60px);
  -o-filter: blur(60px);
  -ms-filter: blur(60px);
  filter: blur(10px);
  transition: background-image 1s ease-in-out;
}